{% extends "base.html" %}{% load static %}{% block blockcontent %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Hi,</h1> 
    {% for p in person %}
    <h1>I'm {{p.first_name}} {{p.last_name}}!</h1>
    {% endfor %}
    {% for m in my_expertise %}
    <h2> {{m.job_title}}</h2>
    {% endfor %} 
    <a href="#about" class="btn-get-started scrollto"><i class="bi bi-chevron-double-down"></i></a>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="#hero"><img src="{% static "assets/img/favicon.ico" %}"></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#resume">Resume</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
         
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
                <div class="section-title">
                  <h2>About me</h2>
                </div>
                  {% for c in contacttext %} 
                    <p>{{c.text}}</p>
                    <br>
                  {% endfor %}    

              <div class="row">
                 {% for d in Dark_text %}
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                   
                    <span data-purecounter-start="0" data-purecounter-end="{{d.value}}" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>{{d.name}}</strong></p>
                  </div>
                </div>

              {% endfor %}
            </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-12">
{% for s in Skills %}
            <div class="progress">
              <span class="skill">{{s.name}} <i class="val">{{s.value}}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{s.value}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
             
            </div>
 {% endfor %}
      </div> 
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg">
      <div class="container">
{% for w in Who_am_I %}
        <div class="section-title">
          <h2>Resume</h2>
          <p>{{w.summary_text}}</p>
        </div>
{% endfor %}
        <div class="row">
          <div class="col-lg-6">
            
            <h3 class="resume-title">Additional Education</h3>
            <div class="resume-item pb-0">
              
              <ul>
                <li><a href="https://agbu.org/women-coders" target="_blank" >AGBU EmpowerHer</a> </li>
                <li><a href="https://quickstart.am/" target="_blank">Quick Start</a></li>
                <li>Python Course</li>
              </ul>
              </p>
            </div>
            <h3 class="resume-title">Education</h3>
            {% for edu in Education %}
            <div class="resume-item">
              <h4>{{edu.degree}}</h4>
              <h5>{{edu.date}}</h5>
              <p>{{edu.description}}</p>
            </div>
{% endfor %}
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            {% for exp in Expertise %}
            <div class="resume-item">
              <h4>{{exp.job_title}}</h4>
              <h5>{{exp.job_date}}-{% if exp.is_current %} Present
                {% else %} {{exp.end_date}}{% endif %}</h5>
              <p><em>{{exp.job_description}} </em></p>
              <p>
            </div>
{% endfor %}
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          {% for serv in servicetext %}
          <h2>Services</h2>
          <p>{{serv.text}}</p>
          {% endfor %}
        </div>

        <div class="row">
          {% for service in services %}
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">{{service.name}}</a></h4>
              <p class="description">{{service.desription}}</p>
            </div>
          </div>

{% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          {% for ptext in portfoliotext %}
          <p>{{ptext.text}}</p>
          {% endfor %}
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" >
            {% for pproject in portfolioProject %}
          <div class="col-lg-2 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{pproject.image.url}}" class="img-fluid" alt="">
              <div class="portfolio-info" id = "port">
                <h4>{{pproject.short_description}}</h4>
               
              </div>
              <div class="portfolio-links">
              
                <a href="{% url 'portfolio_project' pproject.pk %}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
            
          </div>
          {% endfor %}
        
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          {% for ttext in testimonials %}
          <p>{{ttext.text}}</p>
          {% endfor %}
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testperson.0.text}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static "assets/img/testimonials/testimonials-1.jpg"%}" class="testimonial-img" alt="">
                <h3>{{testperson.0.name}}</h3>
                <h4>{{testperson.0.position}}</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testperson.1.text}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static "assets/img/testimonials/testimonials-2.jpg"%}" class="testimonial-img" alt="">
                <h3>{{testperson.1.name}}</h3>
                <h4>{{testperson.1.position}}</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testperson.2.text}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static "assets/img/testimonials/testimonials-3.jpg"%}" class="testimonial-img" alt="">
                <h3>{{testperson.2.name}}</h3>
                <h4>{{testperson.2.position}}</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testperson.3.text}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static "assets/img/testimonials/testimonials-4.jpg"%}" class="testimonial-img" alt="">
                <h3>{{testperson.3.name}}</h3>
                <h4>{{testperson.3.position}}</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testperson.4.text}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static "assets/img/testimonials/testimonials-5.jpg"%}" class="testimonial-img" alt="">
                <h3>{{testperson.4.name}}</h3>
                <h4>{{testperson.4.position}}</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact me</h2>
          
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
             <img src="{% static "assets/img/favicon.ico" %}"><br><br><br>
              <div class="social-links">
                <a href="{{social.0.link}}" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="{{social.1.link}}" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="{{social.2.link}}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="{{social.3.link}}" target="_blank" class="github"><i class="bi bi-github"></i></a>
           
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div class="d-flex align-items-center">
                <i class="bi bi-geo-alt"></i>
                <a href= https://goo.gl/maps/4DVKDYxXNY5LSpJz8><p id="adress">{{personal_info.0.address}}</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-envelope"></i><a href="mailto:{{personal_info.0.email}}"><h7>hovhannisyanliza84@gmail.com</h7></a>
                
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-phone"></i><a href="tel:{{personal_info.0.phone}}"><h7>(+374)93-314-606</h7></a>
                
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
         <form action="/"  method="post" role="form" >
                {% csrf_token %}
              <div class="form-group">
                <input type="text" name="full_name" class="form-control" id="full_name" placeholder="Your Name" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
                     
              <div class="text-center"><button type="submit" id="butt">Send Message</button></div>
             
              
            </form>
           
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {%endblock%}